@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
  font-family: 'Roboto', sans-serif;
}

#logo-SC{
  height: 60px;
}


#btn-nav-sc{
  padding: 10px;
  margin-right: 5px;
  border-radius: 0px;
  background-color: #ffd600;
  border-color: #ffd600;
  font-weight: normal;
  font-size: 1em;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  color: #000;
  box-shadow: 2px 2px 5px #000;
}

#btn-nav-sc:hover{
  background-color: #D50000;
  border-color: #D50000;
  color: #FFFFFF;
}

#btn-nav-active-sc{
  padding: 10px;
  margin-right: 5px;
  border-radius: 0px;
  background-color: #D50000;
  border-color: #D50000;
  font-weight: normal;
  font-size: 1em;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  box-shadow: 2px 2px 5px #000;
}

#btn-nav-active-sc:hover{
  background-color: #D50000;
  border-color: #D50000;
  color: #FFFFFF;
}

.imgCirclContainer {
  width: 96px;
  height: 96px;
  background-color: #e53935;
  box-shadow: 2px 2px 5px #000;
}

.card-title{
  margin-top: 1rem;
}

.card:hover{
  border-color: #e53935;
  /*box-shadow: 0px 0px 15px #e53935;*/
  transition: border-color .25s ease-in-out;
  -moz-transition: border-color .25s ease-in-out;
  -webkit-transition: border-color .25s ease-in-out;
  /*transition: box-shadow .25s ease-in-out;
  -moz-transition: box-shadow .25s ease-in-out;
  -webkit-transition: box-shadow .25s ease-in-out;*/
}

.card .btn{
  cursor: pointer;
}

#carouselExampleIndicators{
  margin-top: 2rem;
  background-color: gray;
}

.img-fluid{
  display: block;
  width: 100%;
  height: 100%;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

.carousel-caption{
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: gray;
  opacity: 0.9;
  left: 0;
  right: 0;
  bottom: 0;

}


.container {
  margin: 0 auto;
}


/* Example wrapper */

.wrap {
  position: relative;
  margin: 1em 3m 3em 0;
}


/* Frame */

.frame {
  height: 100px;
  /*line-height: 10px;*/
  overflow: hidden;
}

.frame ul {

  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
}

.frame ul li {
  float: left;
  width: 150px;
  margin: 0 10px 0 0;
  background: gray;
  color: #000;
  text-align: center;
  cursor: pointer;
  height: 100%;
}

.frame ul li.active {
  color: #fff;
  background: #a03232;
}


/* Scrollbar */

.scrollbar {
  margin: 0 0 1em 0;
  height: 2px;
  background: #ccc;
  line-height: 0;
}

.scrollbar .handle {
  width: 100px;
  height: 100%;
  background: #292a33;
  cursor: pointer;
}

.scrollbar .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 20px;
}


/* Pages */

.pages {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  text-align: center;
}

.pages li {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 4px;
  text-indent: -999px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
}

.pages li:hover {
  background: #aaa;
}

.pages li.active {
  background: #666;
}


/* Controls */

.controls {
  margin: 25px 0;
  text-align: center;
}


/* One Item Per Frame example*/

.oneperframe {
  height: 300px;
  line-height: 300px;
}

.oneperframe ul li {
  width: 1140px;
}

.oneperframe ul li.active {
  background: #333;
}


/* Crazy example */

.crazy ul li:nth-child(2n) {
  width: 100px;
  margin: 0 4px 0 20px;
}

.crazy ul li:nth-child(3n) {
  width: 300px;
  margin: 0 10px 0 5px;
}

.crazy ul li:nth-child(4n) {
  width: 400px;
  margin: 0 30px 0 2px;
}

.pages{
  margin-bottom: 150px;
}

#empleados{
  background-color: #474747;
  margin-top: 3em;
  padding: 20px;
}

.empleado-active{
  background-color:rgba(0,0,0,0);
}

.empleado{
  float:left;
  width: 25%;
  border-right-color: #474747;
  border-right-width: 1px;
  border-right-style: solid;
  background-size: contain;
  cursor: pointer;
}

.color{
  background-color:rgba(71,71,71,0.7);
  height: 100%;
  width: 100%;
}

.color:hover{
  background-color:rgba(0,0,0,0);
  transition: background-color .25s ease-in-out;
   -moz-transition: background-color .25s ease-in-out;
   -webkit-transition: background-color .25s ease-in-out;
}

.descripciones{
  padding-top: 20px;
  background-color: #191919;
}

.bio{
  color: white;
  margin-top: 10px;
}

.empleado_descripcion{
  color: white;
  display: none;
}
.empleado_descripcion > span{
  font-size: 1.7em;
}

#buscar{
  padding-top: 20px;
}
#buscar > input, #buscar > span > button {
  border-radius: 0px;
}
#buscar > input::first-letter{
    text-transform: uppercase;
}
#buscar > span > button{
  cursor: pointer;
}

#productos{
  padding-top: 20px;
}

.producto{
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
  width: 20%;
  background-size: contain;
  background-repeat: no-repeat;
  border-color: #474747;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  border-radius: 1px;
}

.ver{
  display: none;
  float: left;
  margin-bottom: 5px;
  border-radius: 0px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  width: calc(100% - 5px);
  border-radius: 1px;
}

.ver > img{
  float: left;
  height: 100%;
  padding: 5px;
  width: auto;
  margin-right:10px;
}
.ver > span{
  font-size: 1.3em;
}
.ver > p{
  padding-top: 1.2em;
  padding-right: 30px;
}

#misionVision{
  margin-top: 2em;;
}

#container-empresa{
  margin-top: 20px;
}

.comentario{
  border-bottom-color: #292b2c;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-top: 2em;
  width: 100%;
}

.comentario:last-child{
  border-bottom-width: 0px;
  margin-bottom: 80px;
}

.comentario > img{
  float: left;
  padding-right: 10px;
  width: 100px;
  height: 90px;

}

.comentario > span{
  font-size: 1.2em;
}

.comentario > sub{
  float: right;
  color: #fccb0a;
  margin-bottom: 5px;
}
.comentario > p{
  padding-top:10px;
}

#container-contacto{
  margin-top: 20px;
  margin-bottom: 70px;
}

.form-group > input,.form-group > textarea {
  font-size: 1.3em;
  width: 100%;
}

.form-group{
  text-align: center;
}

#enviar{
  text-decoration: none;
  color: #474747;
  cursor: pointer;
}

.footer_sc{
  font-size: 0.5em;
  background-color: #b71c1c;
  color: white;
}

.gracias{
  text-align: center;
  margin-top: 4em;
}
